@use "/src/common/styles/template" as *;
@use "/src/common/styles/colors" as *;

.realetive {
  position: relative;
  width: 100%;
  height: 70vh;
  @extend %flex-center;
}

.wrapper {
  @extend %limit-width;
  h1,
  h2,
  h3 {
    text-align: center;
  }
  .inlineBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    text-transform: capitalize;
    a {
      color: $purple;
      font-weight: 500;
    }
  }
}
.all-posts {
  display: flex;
  .featured-post {
    width: 85%;
    border: 1px $lightgrey solid;
    padding: 31px;
    img{
       width: 669px;
    height: 350px;
    }
  }
}
