.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post {
    padding: 0 0.5rem;
  .img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  .post-img {
    width: 100%;
  }
}
